<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD400ajlezGhP4rmJPwv189kQuHOIsXkxc</string>
	<key>GCM_SENDER_ID</key>
	<string>784146564294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.baseTodolist</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-cdc0f</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-cdc0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784146564294:ios:a4e7852f4689f5056603c7</string>
</dict>
</plist>